/*header*/

$width:1200px;
#header {
    width: 100%;
    height: 88px;
    .header-con {
        width: $width;
        height: 88px;
        margin: 0 auto;
        display: flex;
        align-items: center;
    }
}

#content {
    width: 100%;
    height: 600px;
    min-width: $width;
    background: url(../images/zhuce-bg.jpg);
    .content-con {
        width: $width;
        height: 600px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        table {
            width: 450px;
            height: 350px;
            background: #e9e9f3;
            td {
                text-align: center;
                font-size: 12px;
            }
            td:first-child {
                width: 80px;
            }
            td:nth-child(2) {
                width: 250px;
            }
            input {
                width: 250px;
                height: 40px;
            }
            .btn {
                background: #ff4400;
                border: none;
                cursor: pointer;
            }
        }
    }
}